
html,
body {
  background-color: black;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.container {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  perspective: 3px;

}

section {
  background-size: cover;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-bg {
  background-position: center center;
  transform: translateZ(-0.5px) scale(2);
  background-size: cover;
  z-index: -1;
  height: 70vh;
}

.parallax-content {
  z-index: -1;
  transform: translateY(-25vh) translateZ(0px) scale(1);
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.no-parallax-section {
  height: 50vh;
}

.no-parallax-content {
  text-align: center;
  padding: 30px;
}


.bg-1 {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(234, 38, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.bg-2 {
  background: linear-gradient(90deg, rgba(0, 83, 33, 1) 0%, rgba(215, 198, 1, 1) 100%);
}

.bg-3 {
  background: linear-gradient(90deg, rgb(139, 6, 46) 0%, rgba(215, 198, 1, 1) 100%);
}

.bg-4 {
  background: linear-gradient(90deg, rgb(224, 208, 63) 0%, rgb(92, 89, 49) 100%);
}

#bordes {
  max-height: 100%;
  width: fit-content;
  overflow: hidden;
  display: flex;
  border-style: dotted;
  font-size: normal;
  border-color: red;
  margin-left: 20vh;
  margin-right: 20vh;
  background-size: cover;
  padding: 10px;
}

#bordes:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#bordes:active {

  font-style: italic;
  font-size: large;
  font: bolder;
  background-color: aqua;
  color: red;
}

p:hover:first-child::first-letter,
p:hover:nth-last-child(2)::first-letter,
p:hover:nth-last-of-type(1)::first-letter {
  float: left;
  color: black;
  font-size: 40px;
  column-fill: auto;

}

img {
  width: 250px;
  height: 200px;

}


.box {
  display: inline-flex;
  gap: 10px;
  width: 100px;
  height: 100px;
  color: #00136c;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  border-color: red;
  border-style: double;
  padding: 10px;
  border-radius: 15;
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  -ms-border-radius: 15;
  -o-border-radius: 15;
}

.box:first-child {

  animation: loader 2s infinite;
}

.box:nth-child(2) {

  animation: loader 3s infinite;
}

.box:nth-child(3) {
  animation: loader 3s infinite;
  -webkit-animation: loader 3s infinite;
}

@keyframes loader {
  0% {
    rotate: 0deg;
  }

  25% {
    rotate: y 90deg;
    scale: 0.5;
  }

  50% {
    rotate: 180deg;
  }

  75% {
    rotate: x 270deg;

  }

  100% {
    rotate: 360deg;
  }
}



@supports not (rotate: 0deg) {
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: scale(0.5) rotateY(90deg);
    }

    50% {
      transfrom: rotate(180deg);
    }

    75% {
      transform: rotateX(270deg);

    }

    100% {
      transform: rotate(360deg);
    }
  }
}


#ukrania {
   margin-left: 25%;
    margin-right: 25%;
    max-width: fit-content;
    justify-content: center;
    display: contents;
    padding: 20px;
    width: 350px;
    height: 350px;
max-height: 100%;
width: fit-content;
overflow: hidden;
display: flex;
border-style: double;
border-color: red;
margin: auto;
background-image: none;
background-size: cover;
}

#back {
  background-color: #f1f1f1;
  max-width: 100%;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  max-width: fit-content;
  justify-content: center;
  display: contents;
  padding: 20px;

}

